<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel='stylesheet'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%=title%></p>
     <button type="button" class="btn btn-danger">Left</button>
  </body>
</html>
