<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Any Sould</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet"/>
<link href="/stylesheets/style.css" rel="stylesheet"/>
<link href="/stylesheets/default.css" rel="stylesheet"/>

<link rel="shortcut icon" href="/images/favicon.ico"/>

</head>
<body>

<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="/">ANY SOULD</a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<ul id="menu-main" class="nav">

					<li><a title="Quienes somos" href="#about">Quienes somos</a></li>
					<li><a title="Servicios" href="#services">Servicios</a></li>
					<li><a title="Productos" href="#works">Productos</a></li>
					<li><a title="Planes" href="#blog">Planes</a></li>
					<li><a title="Contacto" href="#contact">Contacto</a></li>
					<li><a title="Login" data-toggle="modal" data-target="#myModal">Login</a></li>


				</ul>
				</nav>
			</div>
		</div>
	</div>
</div>




<!-- Header area -->
<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
	<div class="logo">
		<img src="/images/img-logo.png" alt="" />
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-flexslider" class="flexslider">
					<ul class="slides">
						<li>
						<p class="home-slide-content">
							Seguridad y <strong>confianza</strong>

						</p>
						</li>
						<li>
						<p class="home-slide-content">
							<strong>Creatividad</strong> y pasión
						</p>
						</li>
						<li>
						<p class="home-slide-content">
							Amamos la <strong>simplicidad</strong>
						</p>
						</li>
					</ul>
				</div>
				<!-- end slider -->
			</div>
		</div>
	</div>
	</header>
</div>
<!-- spacer section -->
<section class="spacer green">
<div class="container">
	<div class="row">
		<div class="span6 alignright flyLeft">
			<blockquote class="large">
				 Solución inteligente para su seguridad   <cite>Equipo Any Sould</cite>
			</blockquote>
		</div>
		<div class="span6 aligncenter flyRight">
			<i class="icon-home icon-10x"></i>
			<i class="icon-lightbulb icon-10x"></i>
		</div>
	</div>
</div>
</section>

<!-- end spacer section -->
<!-- section: team -->
<section id="about" class="section">
<div class="container">
	<h4>Quienes Somos?</h4>

	<div class="row">
		<div class="span4 offset1">
			<div>
				<h2>La solución para su <strong>seguridad</strong></h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
					in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
		<div class="span6">
			<div class="aligncenter">
				<img src="/images/icons/creativity.png" alt="" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span3 offset1 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="/images/team/img-1.jpg" alt="" />
				<h3>John Rodriguez</h3>
				<p>
					Web developer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="/images/team/img-2.jpg" alt="" />
				<h3>Miller Ossa</h3>
				<p>
					Web developer
				</p>
			</div>
		</div>
		<div class="span2 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="/images/team/img-3.jpg" alt="" />
				<h3>Jonathan Osorno</h3>
				<p>
					Web designer
				</p>
			</div>
		</div>
		<div class="span3 flyIn">
			<div class="people">
				<img class="team-thumb img-circle" src="/images/team/img-4.jpg" alt="" />
				<h3>Alvaro Guerrero</h3>
				<p>
					UI designer
				</p>
			</div>
		</div>

	</div>
</div>
<!-- /.container -->
</section>
<!-- end section: team -->
<!-- section: services -->
<section id="services" class="section orange">
<div class="container">
	<h4>Servicios</h4>
	<!-- Four columns -->
	<div class="row">
		<div class="span3 animated-fast flyIn">
			<div class="service-box">
				<img src="/images/icons/laptop.png" alt="" />
				<h2>Diseño web</h2>
				<p>
					 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</p>
			</div>
		</div>
		<div class="span3 animated flyIn">
			<div class="service-box">
				<img src="/images/icons/lab.png" alt="" />
				<h2>Desarrollo web</h2>
				<p>
					 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</p>
			</div>
		</div>
		<div class="span3 animated-fast flyIn">
			<div class="service-box">
				<img src="http://www.tepille.cl/wp-tepille/wp-content/uploads/2014/12/icono-camara-seguridad-gris-evitar-robos.png" alt="" />
				<h2>Hadware de seguridad</h2>
				<p>
					 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</p>
			</div>
		</div>
		<div class="span3 animated-slow flyIn">
			<div class="service-box">
				<img src="http://www.gausscontrol.com/wp-content/uploads/2016/05/form4.png" alt="" />
				<h2>Conectividad</h2>
				<p>
					 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				</p>
			</div>
		</div>
	</div>
</div>
</section>
<!-- end section: services -->

<!-- section: products -->
<section id="works" class="section">
	<div class="container">
			<h4>Productos</h4>
		<div class="row">
			<div class="span12">
	    	    <div class="well">
	                <div id="myCarousel" class="carousel slide">

	                <ol class="carousel-indicators">
	                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	                    <li data-target="#myCarousel" data-slide-to="1"></li>
	                    <li data-target="#myCarousel" data-slide-to="2"></li>
	                </ol>

	                <!-- Carousel items -->
	                <div class="carousel-inner">

	                <div class="item active">
	                	<div class="row-fluid">
	                	  <div class="span3">
												<a href="#x" class="thumbnail">
													<img src="http://saberyhacer.com/wp-content/uploads/2012/09/41-320.jpg" alt="Image" style="max-width:100%;height:210px;" />
                          <i>Sensor horizontal</i>
												</a>
											</div>
	                	  <div class="span3">
												<a href="#" class="thumbnail">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH8Ga3LZtw8jVk7oHdGskBldnRDxoeUSbbASE0Zr5ca-JSPFCZiA" alt="Image" style="max-width:100%;height:210px;" />
													<i>Sensor vertical</i>
												</a>
											</div>
	                	  <div class="span3">
												<a href="#x" class="thumbnail">
													<img src="https://http2.mlstatic.com/alarma-sensor-sensores-D_NQ_NP_1455-MCO4105068896_042013-O.jpg" alt="Image" style="max-width:100%;height:210px;" />
                         <i>Sensor con bocina</i>
												</a>
											</div>
	                	  <div class="span3">
												<a href="#x" class="thumbnail">
													<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuW0eZ4EQXzwpMGPTqp6OytInVEYt6ONHnVh67brQS04WligRW" alt="Image" style="width:100%;height:210px;" />
                         <i>sincronizacion a moviles</i>
												</a>
											</div>
	                	</div><!--/row-fluid-->
	                </div><!--/item-->

	                <div class="item">
	                	<div class="row-fluid">
	                		<div class="span3">
												<a href="#x" class="thumbnail">
													<img src="http://www.empresas-de-seguridad.com/wp-content/uploads/2011/11/Videovigilancia.jpg" alt="Image" style="max-width:100%;height:210px;" />
                          <i>Cámaras</i>
												</a>
											</div>
	                		<div class="span3">
												<a href="#x" class="thumbnail">
													<img src="http://www.alarmar.com.co/images/banners-inferior/cctv.jpg" alt="Image" style="max-width:100%;height:210px;" />
                          <i>Circuito Cerrado</i>
												</a>
											</div>
	                		<div class="span3">
												<a href="#x" class="thumbnail">
													<img src="http://www.alarmar.com.co/images/parsonii/detecciondeincendios.jpg" alt="Image" style="max-width:100%;height:210px;" />
                          <i>Detección de incendios</i>
												</a>
											</div>
	                		<div class="span3"><a href="#x" class="thumbnail">
												<img src="http://www.puertolopez-meta.gov.co/Style%20Library/Images/policia3-560x322.png" alt="Image" style="max-width:100%;height:210px;" />
                      <i>Comucación con el cuadrante</i>
											</a>
										</div>

	                	</div><!--/row-fluid-->
	                </div><!--/item-->



	                </div><!--/carousel-inner-->

	                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	                </div><!--/myCarousel-->

	            </div><!--/well-->
			</div>
		</div>
	</div>
</section>

<!-- spacer section -->
<section class="spacer bg3">
<div class="container">
	<div class="row">
		<div class="span12 aligncenter flyLeft">
			<blockquote class="large">
				 Nuestra motivación no va en la busca del oro,
				 nuestra meta es más grande que nuestros conquistadores,
				 vamos hacia la raíz, vamos a construir tejido social,
				 vamos a conectar hogares, a daler vida a tu casa, a devolverle la  conciencia.
			</blockquote>
		</div>
		<div class="span12 aligncenter flyRight">
			<i class="icon-rocket icon-10x"></i>
		</div>
	</div>
</div>
</section>
<!-- end spacer section -->
<!-- section: blog -->
<section id="blog" class="section">
<div class="container">
	<h4>Nuestros Planes</h4>
	<!-- Three columns -->
	<div class="row">
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" style="height:200px;wi" src="https://lh3.googleusercontent.com/KdsG8-fYgWm49VzXLJuFUFc6vX8l_MLrzITZoKUv3mGAGZiAwpGBzoWoO399Tus49Dse" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">Plan Madera</span>
					<span class="tags"><a href="#">$0</a>, <a href="#">Gratis</a></span>
				</div>
				<div class="entry-content">
					<h5><strong><a href="#">Plan de prueba</a></strong></h5>
					<p>
						Utiliza nuestros servicios por un corto tiempo. &hellip;
						y cuentanos como te va.
					</p>
					<a href="#" class="more">Leer más</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="https://elarquitectodelacomunicacion.files.wordpress.com/2014/04/03mensual_ampliacion.jpg" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">Plan bronce</span>
					<span class="tags"><a href="#">$150</a>, <a href="#">Mes</a></span>
				</div>
				<div class="entry-content">
					<h5><strong><a href="#">Plan mensual</a></strong></h5>
					<p>
						Danos la confianza de manejar tu seguridad.
						Este plan no cuenta con condiciones de permanencia
					</p>
					<a href="#" class="more">Leer más</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNtzr-SporUjdBCLZcFGY-aduUFayqFkxWZApdMe-HA-tu8QwJ" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">Plan platino</span>
					<span class="tags"><a href="#">$5000</a>, <a href="#">Tips</a></span>
				</div>
				<div class="entry-content">
					<h5><strong><a href="#">Plan anual</a></strong></h5>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
					</p>
					<a href="#" class="more">Leer más</a>
				</div>
			</div>
		</div>
		<div class="span3">
			<div class="home-post">
				<div class="post-image">
					<img class="max-img" src="/images/blog/img3.jpg" alt="" />
				</div>
				<div class="post-meta">
					<i class="icon-file icon-2x"></i>
					<span class="date">Plan Oro</span>
					<span class="tags"><a href="#">Pago único</a>
				</div>
				<div class="entry-content">
					<h5><strong><a href="#">Plan de por vida</a></strong></h5>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. &hellip;
					</p>
					<a href="#" class="more">Leer más</a>
				</div>
			</div>
		</div>
	</div>
	<div class="blankdivider30"></div>
	<div class="aligncenter">
		<a href="#" class="btn btn-large btn-theme">MÁS INFORMACIÓN</a>
	</div>
</div>
</section>

<!-- end spacer section -->
<!-- section: contact -->
<section id="contact" class="section green">
<div class="container">
	<h4>CONTACTENOS</h4>
	<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<div class="blankdivider30">
	</div>
	<div class="row">
		<div class="span12">
			<div class="cform" id="contact-form">
				<div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
				<form action="" method="post" role="form" class="contactForm">
					<div class="row">
						<div class="span6">
							<div class="field your-name form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Ingrese por lo menos 4 caracteres" />
                                <div class="validation"></div>
							</div>
							<div class="field your-email form-group">
								<input type="text" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email" data-msg="Ingrese un email válido" />
                                <div class="validation"></div>
							</div>
							<div class="field subject form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="El asunto debe tener por lo menos 8 caracteres" />
                                <div class="validation"></div>
							</div>
						</div>
						<div class="span6">
							<div class="field message form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo" placeholder="Mensaje"></textarea>
                                <div class="validation"></div>
							</div>
							<input type="submit" value="Enviar" class="btn btn-theme pull-left">
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ./span12 -->
	</div>
</div>
</section>
<footer>
<div class="container">
	<div class="row">
		<div class="span6 offset3">
			<ul class="social-networks">
				<li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
				<li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
			</ul>
			<p class="copyright">
				&copy; Derechos reservados
                <div class="credits">


                </div>
			</p>
		</div>
	</div>
</div>
<!-- ./container -->
</footer>



<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.scrollTo.js"></script>
<script src="/javascripts/jquery.nav.js"></script>
<script src="/javascripts/jquery.localscroll-1.2.7-min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/jquery.prettyPhoto.js"></script>
<script src="/javascripts/isotope.js"></script>
<script src="/javascripts/jquery.flexslider.js"></script>
<script src="/javascripts/inview.js"></script>
<script src="/javascripts/animate.js"></script>
<script src="/javascripts/custom.js"></script>

<!--Modal-->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Inicio de sesión</h4>
			</div>
			<div class="modal-body">
				<center>
				<div class="login-panel panel panel-default">
									 <div class="panel-heading">
										 <div class="logo">
											<img src="/images/img-logo.png" alt="" style="height:100px;"/>
										</div>
									 </div>
									 <div class="panel-body">
											 <form role="form">
													 <fieldset>
															 <div class="form-group">
																	 <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus="">
															 </div>
															 <div class="form-group">
																	 <input class="form-control" placeholder="Password" name="password" type="password" value="">
															 </div>

															 <!-- Change this to a button or input when using this as a form -->
															 <a href="javascript:;" class="btn btn-sm btn-success">Ingresar</a>
													 </fieldset>
											 </form>
									 </div>
							 </div>

						</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
<!--Modal end-->

</body>
</html>


